* {
    box-sizing: border-box;
}

body {
    background-color:#e6e5e5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    padding: 15px;
    background-color:#f0d6d6;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

